SwaggerAPIGenerator.xcodeproj/xcuserdata/panxiaoping.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SwaggerAPIGenerator.xcodeproj/xcuserdata/panxiaoping.xcuserdatad/xcschemes/SwaggerAPIGenerator copy.xcscheme
SwaggerAPIGenerator.xcodeproj/xcuserdata/panxiaoping.xcuserdatad/xcschemes/SwaggerAPIGenerator.xcscheme
SwaggerAPIGenerator.xcodeproj/xcuserdata/panxiaoping.xcuserdatad/xcschemes/xcschememanagement.plist
