<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiDelete_AccountsSignout</key>
	<string></string>
	<key>ApiDelete_AnswersDiscussion</key>
	<string></string>
	<key>ApiDelete_ClassesCoursesRemove</key>
	<string></string>
	<key>ApiDelete_Classgrad</key>
	<string></string>
	<key>ApiDelete_ClassgradesQuestion</key>
	<string></string>
	<key>ApiDelete_ClassgradesStudent</key>
	<string></string>
	<key>ApiDelete_ClassgradesTask</key>
	<string></string>
	<key>ApiDelete_ClassgradesTeacher</key>
	<string></string>
	<key>ApiDelete_Coursegrad</key>
	<string></string>
	<key>ApiDelete_Coursetyp</key>
	<string></string>
	<key>ApiDelete_EpisodesNode</key>
	<string></string>
	<key>ApiDelete_LiveroomsStudent</key>
	<string></string>
	<key>ApiDelete_LiveroomsTeacher</key>
	<string></string>
	<key>ApiDelete_NodesDiscussion</key>
	<string></string>
	<key>ApiDelete_Question</key>
	<string></string>
	<key>ApiDelete_QuestionsAnswer</key>
	<string></string>
	<key>ApiDelete_QuestionsStar</key>
	<string>UYQuestion</string>
	<key>ApiDelete_QuizzesQuestionsNode</key>
	<string></string>
	<key>ApiDelete_ResourcesQuizQuestion</key>
	<string></string>
	<key>ApiDelete_SchoolsCourse</key>
	<string></string>
	<key>ApiDelete_SchoolsCoursesEpisod</key>
	<string></string>
	<key>ApiDelete_SchoolsQuestion</key>
	<string></string>
	<key>ApiDelete_SchoolsStudent</key>
	<string></string>
	<key>ApiDelete_SchoolsTask</key>
	<string></string>
	<key>ApiDelete_SchoolsTeacher</key>
	<string></string>
	<key>ApiDelete_Storag</key>
	<string></string>
	<key>ApiDelete_TasksNode</key>
	<string></string>
	<key>ApiDelete_Teachingplan</key>
	<string></string>
	<key>ApiDelete_TeachingplansTeachingtaskcycle</key>
	<string></string>
	<key>ApiDelete_Teachingplantemplat</key>
	<string></string>
	<key>ApiDelete_TeachingplantemplatesTeachingtaskcycle</key>
	<string></string>
	<key>ApiGet_AccountAssignments</key>
	<string>UYAssignment</string>
	<key>ApiGet_AccountClasses</key>
	<string>UYClass</string>
	<key>ApiGet_AccountClassgradesTeachingplan</key>
	<string>UYTeachingPlan</string>
	<key>ApiGet_AccountCourse</key>
	<string>UYCourse</string>
	<key>ApiGet_AccountCourses</key>
	<string>UYCourse</string>
	<key>ApiGet_AccountCoursesEpisodes</key>
	<string>UYEpisode</string>
	<key>ApiGet_AccountLiveroom</key>
	<string></string>
	<key>ApiGet_AccountLiverooms</key>
	<string></string>
	<key>ApiGet_AccountQuestions</key>
	<string>UYQuestion</string>
	<key>ApiGet_AccountQuestionsAnswer</key>
	<string></string>
	<key>ApiGet_AccountQuestionsAnswered</key>
	<string>UYQuestion</string>
	<key>ApiGet_AccountQuestionsStarred</key>
	<string>UYQuestion</string>
	<key>ApiGet_AccountSchools</key>
	<string>UYSchool</string>
	<key>ApiGet_AccountSchoolsManage</key>
	<string>UYSchool</string>
	<key>ApiGet_AccountSearchCourses</key>
	<string>UYCourse</string>
	<key>ApiGet_AccountsAccountexist</key>
	<string></string>
	<key>ApiGet_AccountsCurrent</key>
	<string>UYAccount</string>
	<key>ApiGet_AccountsSignature</key>
	<string></string>
	<key>ApiGet_AccountsUploadtoken</key>
	<string></string>
	<key>ApiGet_AnswersDiscussions</key>
	<string>UYComment</string>
	<key>ApiGet_Assignment</key>
	<string>UYAssignment</string>
	<key>ApiGet_AssignmentsReplies</key>
	<string>UYAssignmentLearningCondition</string>
	<key>ApiGet_AssignmentsRepliesReview</key>
	<string>UYAssignmentReview</string>
	<key>ApiGet_AssignmentsReply</key>
	<string>UYAssignmentReply</string>
	<key>ApiGet_Class</key>
	<string>UYClass</string>
	<key>ApiGet_ClassesCoursesCandidate</key>
	<string>UYCourse</string>
	<key>ApiGet_ClassesCoursesManage</key>
	<string>UYCourse</string>
	<key>ApiGet_ClassesCoursesStudy</key>
	<string>UYCourse</string>
	<key>ApiGet_Classgrad</key>
	<string>UYClass</string>
	<key>ApiGet_Classgrades</key>
	<string>UYClass</string>
	<key>ApiGet_ClassgradesCoursesQuestions</key>
	<string></string>
	<key>ApiGet_ClassgradesInvitationcodes</key>
	<string></string>
	<key>ApiGet_ClassgradesQuestions</key>
	<string>UYQuestion</string>
	<key>ApiGet_ClassgradesSearchQuestions</key>
	<string>UYQuestion</string>
	<key>ApiGet_ClassgradesStudents</key>
	<string>UYAccount</string>
	<key>ApiGet_ClassgradesStudentsSearch</key>
	<string></string>
	<key>ApiGet_ClassgradesTask</key>
	<string>UYAssignment</string>
	<key>ApiGet_ClassgradesTasks</key>
	<string>UYAssignment</string>
	<key>ApiGet_ClassgradesTasksAssignees</key>
	<string>UYAccount</string>
	<key>ApiGet_ClassgradesTeachers</key>
	<string>UYAccount</string>
	<key>ApiGet_ClassgradesTeachersSearch</key>
	<string></string>
	<key>ApiGet_ClassgradesTeachingplan</key>
	<string>UYTeachingPlan</string>
	<key>ApiGet_ClassgradesTeachingtaskcyclesTasks</key>
	<string></string>
	<key>ApiGet_Coursegrad</key>
	<string></string>
	<key>ApiGet_Coursegrades</key>
	<string></string>
	<key>ApiGet_CoursesLearners</key>
	<string></string>
	<key>ApiGet_CoursesQuestions</key>
	<string>UYQuestion</string>
	<key>ApiGet_CoursesReviews</key>
	<string></string>
	<key>ApiGet_Coursetyp</key>
	<string></string>
	<key>ApiGet_Coursetypes</key>
	<string></string>
	<key>ApiGet_Doc</key>
	<string></string>
	<key>ApiGet_ForkclassgradecardsOrders</key>
	<string></string>
	<key>ApiGet_LiveroomsStudents</key>
	<string></string>
	<key>ApiGet_LiveroomsStudentsSearch</key>
	<string></string>
	<key>ApiGet_LiveroomsTeachers</key>
	<string></string>
	<key>ApiGet_LiveroomsTeachersSearch</key>
	<string></string>
	<key>ApiGet_MarketingactivitiesParticipate</key>
	<string></string>
	<key>ApiGet_MarketingactivitiesReceive</key>
	<string></string>
	<key>ApiGet_NodesDiscussions</key>
	<string>UYComment</string>
	<key>ApiGet_NodesDiscussionsMy</key>
	<string>UYComment</string>
	<key>ApiGet_NodesQuestions</key>
	<string>UYQuestion</string>
	<key>ApiGet_Question</key>
	<string>UYQuestion</string>
	<key>ApiGet_QuestionsAnswer</key>
	<string>UYQuestionAnswer</string>
	<key>ApiGet_QuestionsAnswers</key>
	<string>UYQuestionAnswer</string>
	<key>ApiGet_QuestionsStar</key>
	<string>UYQuestion</string>
	<key>ApiGet_Quizz</key>
	<string></string>
	<key>ApiGet_QuizzesTestquestion</key>
	<string></string>
	<key>ApiGet_Resourc</key>
	<string></string>
	<key>ApiGet_ResourcesQuizQuestion</key>
	<string>UYQuizQuestion</string>
	<key>ApiGet_ResourcesQuizQuestions</key>
	<string>UYQuizQuestion</string>
	<key>ApiGet_ResourcesQuizQuestionsSubquestions</key>
	<string></string>
	<key>ApiGet_ResourcesSearch</key>
	<string></string>
	<key>ApiGet_School</key>
	<string></string>
	<key>ApiGet_SchoolsAuthorized</key>
	<string></string>
	<key>ApiGet_SchoolsCourse</key>
	<string></string>
	<key>ApiGet_SchoolsCourseextratypes</key>
	<string></string>
	<key>ApiGet_SchoolsCourses</key>
	<string>UYCourse</string>
	<key>ApiGet_SchoolsCoursesEpisod</key>
	<string></string>
	<key>ApiGet_SchoolsCoursesEpisodes</key>
	<string></string>
	<key>ApiGet_SchoolsCoursesEpisodesNextcandidateepisodes</key>
	<string></string>
	<key>ApiGet_SchoolsCoursesEpisodesPrecandidateepisodes</key>
	<string></string>
	<key>ApiGet_SchoolsCoursesStudy</key>
	<string>UYCourse</string>
	<key>ApiGet_SchoolsCoursetypes</key>
	<string></string>
	<key>ApiGet_SchoolsLiveroom</key>
	<string></string>
	<key>ApiGet_SchoolsLiverooms</key>
	<string></string>
	<key>ApiGet_SchoolsQuestions</key>
	<string>UYQuestion</string>
	<key>ApiGet_SchoolsSearchCourses</key>
	<string>UYCourse</string>
	<key>ApiGet_SchoolsSearchQuestions</key>
	<string>UYQuestion</string>
	<key>ApiGet_SchoolsStudents</key>
	<string></string>
	<key>ApiGet_SchoolsStudentsSearch</key>
	<string></string>
	<key>ApiGet_SchoolsTask</key>
	<string></string>
	<key>ApiGet_SchoolsTasksAssignees</key>
	<string></string>
	<key>ApiGet_SchoolsTeachers</key>
	<string></string>
	<key>ApiGet_SchoolsTeachersSearch</key>
	<string></string>
	<key>ApiGet_SchoolsTeachingtaskcyclesTasks</key>
	<string></string>
	<key>ApiGet_StatisticsNodesNodelearningstatistics</key>
	<string></string>
	<key>ApiGet_StatisticsNodesTestquestionstatistics</key>
	<string></string>
	<key>ApiGet_StatisticsTasksAssignmentstatistics</key>
	<string></string>
	<key>ApiGet_StatisticsTestquestionstatistic</key>
	<string></string>
	<key>ApiGet_StatisticsTestquestionstatisticsAnswer</key>
	<string></string>
	<key>ApiGet_SystemClassgrades</key>
	<string></string>
	<key>ApiGet_SystemSchools</key>
	<string></string>
	<key>ApiGet_TeacherAssignments</key>
	<string></string>
	<key>ApiGet_Teachingplan</key>
	<string></string>
	<key>ApiGet_Teachingplans</key>
	<string></string>
	<key>ApiGet_TeachingplansTeachingtaskcycles</key>
	<string></string>
	<key>ApiGet_Teachingplantemplat</key>
	<string></string>
	<key>ApiGet_Teachingplantemplates</key>
	<string></string>
	<key>ApiGet_TeachingplantemplatesSearch</key>
	<string></string>
	<key>ApiGet_TeachingplantemplatesTeachingtaskcycles</key>
	<string></string>
	<key>ApiGet_UsersNode</key>
	<string></string>
	<key>ApiGet_UtilsUploadtoken</key>
	<string></string>
	<key>ApiGet_Vouchercodes</key>
	<string></string>
	<key>ApiPost_AccountLiveroomsGagAdd</key>
	<string></string>
	<key>ApiPost_AccountLiveroomsGagList</key>
	<string></string>
	<key>ApiPost_AccountLiveroomsGagRollback</key>
	<string></string>
	<key>ApiPost_AccountLiveroomsGagVisitorsOff</key>
	<string></string>
	<key>ApiPost_AccountLiveroomsGagVisitorsOn</key>
	<string></string>
	<key>ApiPost_AccountLiveroomsGetrongyuntoken</key>
	<string></string>
	<key>ApiPost_AccountLiveroomsOnlinememberList</key>
	<string></string>
	<key>ApiPost_AccountNodesDone</key>
	<string></string>
	<key>ApiPost_AccountNodesStudy</key>
	<string>UYLearningNode</string>
	<key>ApiPost_AccountsConfirminvitation</key>
	<string></string>
	<key>ApiPost_AccountsInvite</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsRejectinvitation</key>
	<string></string>
	<key>ApiPost_AccountsResetpasswordbyemail</key>
	<string></string>
	<key>ApiPost_AccountsResetpasswordbymobile</key>
	<string></string>
	<key>ApiPost_AccountsSenddigit</key>
	<string></string>
	<key>ApiPost_AccountsSendverificationcode</key>
	<string></string>
	<key>ApiPost_AccountsSetmobile</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsSignin</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsSigninwithsmscode</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsSignupwithemail</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsSignupwithmobile</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsThirdpartybinding</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsThirdpartybindingbylogin</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsThirdpartylogin</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsThirdpartyunbinding</key>
	<string></string>
	<key>ApiPost_AccountsUnlockbyemail</key>
	<string></string>
	<key>ApiPost_AccountsUnlockbymobilephone</key>
	<string></string>
	<key>ApiPost_AccountsUnlockbypassword</key>
	<string></string>
	<key>ApiPost_AccountsUnlockrequest</key>
	<string></string>
	<key>ApiPost_AccountsUpdateavatar</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsUpdateemail</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsUpdateinfo</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsUpdatemobile</key>
	<string>UYAccount</string>
	<key>ApiPost_AccountsUpdatepassword</key>
	<string></string>
	<key>ApiPost_AnswersDiscussion</key>
	<string>UYComment</string>
	<key>ApiPost_AssignmentsRepliesReview</key>
	<string>UYAssignmentReview</string>
	<key>ApiPost_AssignmentsRepliesSendreview</key>
	<string></string>
	<key>ApiPost_AssignmentsReply</key>
	<string>UYAssignmentReply</string>
	<key>ApiPost_ClassesCoursesAdd</key>
	<string></string>
	<key>ApiPost_Classgrad</key>
	<string>UYClass</string>
	<key>ApiPost_ClassgradesInvitationcodesGenerate</key>
	<string></string>
	<key>ApiPost_ClassgradesQuestion</key>
	<string>UYQuestion</string>
	<key>ApiPost_ClassgradesStudent</key>
	<string></string>
	<key>ApiPost_ClassgradesStudentsImport</key>
	<string></string>
	<key>ApiPost_ClassgradesTask</key>
	<string>UYAssignment</string>
	<key>ApiPost_ClassgradesTeacher</key>
	<string></string>
	<key>ApiPost_ClassgradesTeachingtaskcyclesTasksSort</key>
	<string></string>
	<key>ApiPost_Coursegrad</key>
	<string></string>
	<key>ApiPost_CoursesEnroll</key>
	<string>UYCourse</string>
	<key>ApiPost_CoursesQuestion</key>
	<string>UYQuestion</string>
	<key>ApiPost_CoursesReview</key>
	<string></string>
	<key>ApiPost_Coursetyp</key>
	<string></string>
	<key>ApiPost_EpisodesNode</key>
	<string></string>
	<key>ApiPost_EpisodesNodesSort</key>
	<string></string>
	<key>ApiPost_ForkclassgradecardsOrdersCancel</key>
	<string></string>
	<key>ApiPost_LiveroomsStudent</key>
	<string></string>
	<key>ApiPost_LiveroomsTeacher</key>
	<string></string>
	<key>ApiPost_NodesDiscussion</key>
	<string>UYComment</string>
	<key>ApiPost_NodesQuestion</key>
	<string>UYQuestion</string>
	<key>ApiPost_QuestionsAnswer</key>
	<string>UYQuestionAnswer</string>
	<key>ApiPost_QuizzesQuestionsNode</key>
	<string></string>
	<key>ApiPost_QuizzesStart</key>
	<string></string>
	<key>ApiPost_QuizzesSubmit</key>
	<string>UYQuiz</string>
	<key>ApiPost_Resourc</key>
	<string></string>
	<key>ApiPost_ResourcesQuizImport</key>
	<string></string>
	<key>ApiPost_ResourcesQuizQuestion</key>
	<string></string>
	<key>ApiPost_SchoolsCourse</key>
	<string>UYCourse</string>
	<key>ApiPost_SchoolsCoursesEpisod</key>
	<string></string>
	<key>ApiPost_SchoolsCoursesEpisodesSort</key>
	<string></string>
	<key>ApiPost_SchoolsQuestion</key>
	<string>UYQuestion</string>
	<key>ApiPost_SchoolsStudent</key>
	<string></string>
	<key>ApiPost_SchoolsStudentsImport</key>
	<string></string>
	<key>ApiPost_SchoolsTask</key>
	<string></string>
	<key>ApiPost_SchoolsTeacher</key>
	<string></string>
	<key>ApiPost_SchoolsTeachingtaskcyclesTasksSort</key>
	<string></string>
	<key>ApiPost_TasksNode</key>
	<string></string>
	<key>ApiPost_TasksNodesSort</key>
	<string></string>
	<key>ApiPost_Teachingplan</key>
	<string></string>
	<key>ApiPost_TeachingplansTeachingtaskcycle</key>
	<string></string>
	<key>ApiPost_TeachingplansTeachingtaskcyclesSort</key>
	<string></string>
	<key>ApiPost_Teachingplantemplat</key>
	<string></string>
	<key>ApiPost_TeachingplantemplatesReplace</key>
	<string></string>
	<key>ApiPost_TeachingplantemplatesSync</key>
	<string></string>
	<key>ApiPost_TeachingplantemplatesTeachingtaskcycle</key>
	<string></string>
	<key>ApiPost_TeachingplantemplatesTeachingtaskcyclesSort</key>
	<string></string>
	<key>ApiPut_AssignmentsReply</key>
	<string>UYAssignmentReply</string>
	<key>ApiPut_AssignmentsUpdatestatus</key>
	<string>UYAssignment</string>
	<key>ApiPut_Classgrad</key>
	<string></string>
	<key>ApiPut_ClassgradesStudent</key>
	<string></string>
	<key>ApiPut_ClassgradesTask</key>
	<string>UYAssignment</string>
	<key>ApiPut_ClassgradesTeacher</key>
	<string></string>
	<key>ApiPut_Coursegrad</key>
	<string></string>
	<key>ApiPut_Coursetyp</key>
	<string></string>
	<key>ApiPut_EpisodesNode</key>
	<string></string>
	<key>ApiPut_LiveroomsStudent</key>
	<string></string>
	<key>ApiPut_LiveroomsTeacher</key>
	<string></string>
	<key>ApiPut_Question</key>
	<string>UYQuestion</string>
	<key>ApiPut_QuestionsAnswer</key>
	<string>UYQuestionAnswer</string>
	<key>ApiPut_QuestionsAnswersSetbest</key>
	<string></string>
	<key>ApiPut_QuestionsStar</key>
	<string>UYQuestion</string>
	<key>ApiPut_QuizzesQuestionsNode</key>
	<string></string>
	<key>ApiPut_QuizzesTestquestion</key>
	<string></string>
	<key>ApiPut_Resourc</key>
	<string></string>
	<key>ApiPut_ResourcesQuizQuestion</key>
	<string></string>
	<key>ApiPut_School</key>
	<string></string>
	<key>ApiPut_SchoolsCourse</key>
	<string></string>
	<key>ApiPut_SchoolsCoursesDrop</key>
	<string></string>
	<key>ApiPut_SchoolsCoursesEpisod</key>
	<string></string>
	<key>ApiPut_SchoolsCoursesReuse</key>
	<string></string>
	<key>ApiPut_SchoolsLiveroom</key>
	<string></string>
	<key>ApiPut_SchoolsStudent</key>
	<string></string>
	<key>ApiPut_SchoolsTask</key>
	<string></string>
	<key>ApiPut_SchoolsTeacher</key>
	<string></string>
	<key>ApiPut_TasksNode</key>
	<string></string>
	<key>ApiPut_Teachingplan</key>
	<string></string>
	<key>ApiPut_TeachingplansTeachingtaskcycle</key>
	<string></string>
	<key>ApiPut_Teachingplantemplat</key>
	<string></string>
	<key>ApiPut_TeachingplantemplatesTeachingtaskcycle</key>
	<string></string>
</dict>
</plist>
